* {
	box-sizing: border-box;
}

.language {
	display: inline;
	padding-inline-start: 0;
}

.flag {
	margin-top: 20px;
	height: 600px;
	width: 800px;
}

.weather-info {
	display: flex;
	flex-direction: column;
}

.weather-icon {
	height: 100px;
	width: 100px;
	padding-bottom: 5px;
}
